body {
    background: linear-gradient(to right, rgb(226, 221, 221), rgb(159, 180, 238));
    width: 100vw;
    font-family: sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(135, 165, 211);
    border-bottom: 2px solid black;
}


.navbar__item {
    width: 250px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.article :first-of-type {
    margin-top: 80px;
}

.article {
    width: 100%;
    height: 500px;
}